{% extends "Convenio_base.html" %}
{% load staticfiles %}
{%block opciones%}
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstBase" aria-expanded="true"
        aria-controls="collapseInstBase">
        <i class="fas fa-fw fa-cog"></i>
        <span>Operaciones</span>
    </a>
    <div id="collapseInstBase" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Seleccionar:</h6>
            <a class="collapse-item" href="{% url 'Conv_Form' %}">Registrar</a>
        </div>
    </div>
</li>
{%endblock%}

{% block content %}
<form method="post">
    {% csrf_token %}


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5 class="m-0 font-weight-bold text-primary">Convenio</h5>
            <div class="form-group">
                <label for="{{form.institucion.name}}">{{form.institucion.label}}</label>
                {{form.institucion}}
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
                {{form.nombre}}
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="{{form.tipo.name}}">{{form.tipo.label}}</label>
                {{form.tipo}}
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="{{form.fechaInicio.name}}">{{form.fechaInicio.label}}</label>
                {{form.fechaInicio}} (dd/mm/yyyy)
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="{{form.fechaFin.name}}">{{form.fechaFin.label}}</label>
                {{form.fechaFin}} (dd/mm/yyyy)
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="{{form.escuela.name}}">{{form.escuela.label}}</label>
                {{form.escuela}}
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
            <label for="{{form2.facultad.name}}">{{form2.facultad.label}}</label>
            {{form2.facultad}}
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
            <label for="{{form3.universidad.name}}">{{form3.universidad.label}}</label>
            {{form3.universidad}}
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <button type="sumit" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-save fa-sm text-white-50"></i> Guardar</a>
        </button>
    </div>

</form>

{%endblock%}