{% extends "index.html" %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
{% block content %}

<!--<h1> HOLA MUNDO </h1>-->
<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Grupos de Interes</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Institucion</th>
                        <th>Ruc</th>
                        <th>Convenio</th>
                        <th>Tipo de Convenio</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Institucion</th>
                        <th>Ruc</th>
                        <th>Convenio</th>
                        <th>Tipo de Convenio</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if object_list %}
                    {% for Convenio in object_list %}
                    <tr>
                        <td>{{Convenio.institucion}}</td>
                        <td>{{Convenio.institucion.ruc}}</td>
                        <td>{{Convenio.nombre}}</td>
                        <td>{{Convenio.tipo}}</td>

             
                        {% endfor %}
                        {%else %}
                        <h1>No hay registros </h1>
                        {% endif %}

                    </tr>
                </tbody>

                
                

            </table>
        </div>
    </div>
</div>

{% endblock%}