{% extends "instituciones_base.html" %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
{%block opciones%}
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCap" aria-expanded="true"
        aria-controls="collapseCap">
        <i class="fas fa-fw fa-table"></i>
        <span>Perfil Y Requerimiento</span>
    </a>
    <div id="collapseCap" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Seleccionar:</h6>
            <a class="collapse-item" href="{% url 'PerfilRequer' %}">Consultar</a>
            <a class="collapse-item" href="{% url 'PerfilRequer_Form' %}">Registrar</a>
        </div>
    </div>
</li>
{%endblock%}
{% block content %}

<!--<h1> HOLA MUNDO </h1>-->
<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Perfil y Requerimiento</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Institucion</th>
                        <th>Perfil</th>
                        <th>Requerimiento</th>
                        <th>Area</th>
                        <th>Prioridad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Institucion</th>
                        <th>Perfil</th>
                        <th>Requerimiento</th>
                        <th>Area</th>
                        <th>Prioridad</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if object_list %}
                    {% for PerfilRequerimiento in object_list %}
                    <tr>
                        <td>{{PerfilRequerimiento.perfil.institucion}}</td>
                        <td>{{PerfilRequerimiento.perfil}}</td>
                        <td>{{PerfilRequerimiento.requerimiento}}</td>
                        <td>{{PerfilRequerimiento.requerimiento.area}}</td>
                        <td>{{PerfilRequerimiento.prioridad}}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'PerfilRequer_Edit' PerfilRequerimiento.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'PerfilRequer_delete' PerfilRequerimiento.id %}">Eliminar</a>
                        </td>

                        {% endfor %}
                        {%else %}
                        <h1>No hay registros </h1>
                        {% endif %}
                    </tr>
                </tbody>



            </table>
        </div>
    </div>
</div>
{% endblock%}